{% extends "base.html.twig" %}

{% block title %}Draw more{% endblock %}

{% block content %}

<h1 class="arubrik">Draw two</h1>
<div class="content">
    {% if count > 0 %}
        {% for card in card_deck %} <img class="cards" src="{{ asset("../img/cards/" ~ card ~ ".png") }}"
            width="200" height="280" alt="{{card}}">
    {% endfor %}
</div>
<div class="content">
    <p>Kort kvar: {{count}}</p>
</div>
    {% else %}
    <div>
        <p>Nu finns det inga kort kvar!</p>
    </div>
    {% endif %}

{% endblock %}
