{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block content %}

<h1 class="arubrik">Draw one card</h1>
<div class="content">
    {% if count > 0 %}
        <img class="cards" src="{{ asset("../img/cards/" ~ card_deck ~ ".png") }}" width="200" height="280" alt="{{card_deck}}">

    <p>Kort kvar: {{count}}</p>

    {% else %}
        <p>Nu finns det inga kort kvar!</p>
    {% endif %}
</div>

{% endblock %}
