{% include "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block content %}

<h1 class="arubrik">Shuffle cards</h1>

<div class="content">
    {% for card in shuffled_cards %}
        {{ card.getCard() }}
    {% endfor %}
</div>

{% endblock %}
